/* Add your CSS code below */
a {
  color: red;
  text-decoration: none;
  font-weight: bold;
}
.message__time {
  font-size: 0.9rem;
}
.message {
  line-height: 2.5em;
}

.message__time--old {
  opacity: 0.3;
}

.message--unread {
  border-left: 3px solid blue;
}
